<div class="container settings-container">
  <%= form_for @service, html: { class: 'form-horizontal' } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <%= f.label :title, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :title, auto_focus: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :font_class, 'Font Class (don\'t touch)', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :font_class, class: 'form-control' %>
        <span class="help-block">Do not touch, let Tim change this.</span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :order, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :order, class: 'form-control' %>
        <span class="help-block">The order in which the services are displayed everywhere.</span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :short_info, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_area :short_info, rows: 3, class: 'form-control' %>
        <span class="help-block">Text that is shown when you hover over the service on the home page.</span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :body, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_area :body, rows: 15, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Update', class: 'btn btn-bg bg-sea form-button' %>
      </div>
    </div>
  <% end %>
</div>
