<div id="page-content" class="settings-container">
  <div class="panel panel-default sign-in-panel">
    <div class="panel-heading">Forgot your password?</div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>

        <div class="center">
          <div class="actions">
            <%= f.submit 'Send me reset password instructions', class: 'btn btn-primary btn-submit' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
