<!-- PAGE TITLE : begin -->
<div id="page-title" class="m-parallax">

  <!-- PAGE TITLE TOP : begin -->
  <div class="page-title-top">
    <div class="page-title-top-inner">

      <!-- PAGE TITLE TEXT : begin -->
      <div class="page-title-text">
        <div class="container">
          <h1>
            <%= edit_text('main_title_1', { en: 'Electrics. Painting.', fr: 'Electrics. Peinture.' }, render_markdown: false) %><br>
            <strong><%= edit_text('main_title_2', { en: 'Anything!', fr: "N'importe quoi!" }, render_markdown: false) %></strong>
          </h1>
        </div>
      </div>
      <!-- PAGE TITLE TEXT : end -->

      <!-- PAGE TITLE SERVICES : begin -->
      <div class="page-title-services">
        <div class="container">

          <!-- SERVICE LIST : begin -->
          <ul class="c-service-list m-type-2 m-4-per-row">

            <% @services.each_with_index do |service, i| %>
              <!-- SERVICE : begin -->
              <li class="c-service m-type-2">
                <div class="service-inner">

                  <div class="service-title service-<%= i + 1 %>">
                    <div><div><div>
                      <span class="service-icon"><i class="<%= service.font_class %>"></i></span>
                      <h3><%= link_to service["title_#{locale}"], service %></h3>
                    </div></div></div>
                  </div>
                  <div class="service-description">
                    <div><div>
                      <p><%= service["short_info_#{locale}"] %></p>
                      <p><%= link_to 'More Info', service, class: 'c-button m-size-small' %></p>
                    </div></div>
                  </div>

                </div>
              </li>
              <!-- SERVICE : end -->
            <% end %>

          </ul>
          <!-- SERVICE LIST : end -->

        </div>
      </div>
      <!-- PAGE TITLE SERVICES : end -->

    </div>
  </div>
  <!-- PAGE TITLE TOP : end -->

  <!-- PAGE TITLE BOTTOM : begin -->
  <div class="page-title-bottom">
    <div class="container">
      <div class="page-title-bottom-inner">
        <div class="page-title-bottom-inner2">

          <!-- PAGE TITLE BAR : begin -->
          <div class="page-title-bar">
            <div class="page-title-bar-inner">

              <ul class="page-title-bar-left">
                <li>
                  <i class="fa fa-phone"></i>
                  <strong><%= edit_text('mobile_contact', { en: 'France Mob: 0675 889731', fr: '0675 889731' }, render_markdown: false) %></strong>
                </li>
                <li>
                  <i class="fa fa-envelope-o"></i>
                  <strong><%= edit_link('email_contact', 'd.suddick@sky.com', 'mailto:d.suddick@sky.com') %></strong>
                </li>
              </ul>

              <div class="page-title-bar-right">
                <%= edit_link('request_quote', { en: 'Request a Quote', fr: 'Demander une citation' }, '/contact', class: 'c-button m-type-2 m-size-medium') %>
              </div>

            </div>
          </div>
          <!-- PAGE TITLE BAR : end -->

        </div>
      </div>
    </div>
  </div>
  <!-- PAGE TITLE BOTTOM : end -->

</div>
<!-- PAGE TITLE : end -->

<!-- PAGE CONTENT : begin -->
<div id="page-content">

  <!-- FEATURES SECTION : begin -->
  <section class="c-section">
    <div class="section-inner">
      <div class="container">

        <hr class="c-divider m-size-medium">

        <div class="row">
          <div class="col-md-4">

            <!-- FEATURE : begin -->
            <div class="c-feature">
              <i class="feature-icon fa fa-keyboard-o"></i>
              <h3 class="feature-title"><%= edit_text('focus_point_1_title', { en: 'Experienced', fr: 'Expérimenté' }) %></h3>
              <div class="feature-text">
                <p><%=
                  edit_text(
                    'focus_point_1_body',
                    { en: 'I am a highly experienced professional.',
                      fr: 'Je suis un professionnel hautement expérimenté.'
                    }
                  )
                %></p>
              </div>
            </div>
            <!-- FEATURE : end -->

            <hr class="c-divider m-transparent hidden-lg hidden-md">

          </div>
          <div class="col-md-4">

            <!-- FEATURE : begin -->
            <div class="c-feature">
              <i class="feature-icon fa fa-clock-o"></i>
              <h3 class="feature-title"><%= edit_text('focus_point_2_title', { en:'Reliable Timing', fr: 'Calendrier fiable' }) %></h3>
              <div class="feature-text">
                <p><%=
                  edit_text(
                    'focus_point_2_body',
                    { en: 'When I agree to do work I will agree on a time to arrive and stick to it.',
                      fr: "Quand je suis d'accord pour faire le travail que je suis d'accord sur un temps d'arriver et de s'y tenir."
                    }
                  )
                %></p>
              </div>
            </div>
            <!-- FEATURE : end -->

            <hr class="c-divider m-transparent hidden-lg hidden-md">

          </div>
          <div class="col-md-4">

            <!-- FEATURE : begin -->
            <div class="c-feature">
              <i class="feature-icon fa fa-eur"></i>
              <h3 class="feature-title"><%= edit_text('focus_point_3_title', { en: 'Fair Prices', fr: 'Une tarification équitable' }) %></h3>
              <div class="feature-text">
                <p><%=
                  edit_text(
                    'focus_point_3_body',
                    { en: 'I provide fair prices for all clients which are agreed before any work commences.',
                      fr: 'Je fournis des prix équitables pour tous les clients qui sont convenus avant le début des travaux .'
                    }
                  )
                %></p>
              </div>
            </div>
            <!-- FEATURE : end -->

          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- FEATURES SECTION : end -->

  <!-- TESTIMONIALS SECTION : begin -->
  <section class="c-parallax-section m-dynamic m-has-overlay testimonial-section">
    <div class="section-inner">
      <div class="container">

        <h2><%= edit_text('testimonial_title', { en: 'Hear From Our <strong>Happy Clients</strong>', fr: 'Entendre de nos clients heureux' }) %></h2>
        <div class="row">
          <div class="col-md-4">

            <!-- TESTIMONIAL : begin -->
            <div class="c-testimonial">
              <blockquote>
                <p><%= edit_text('testimonial_1', { en: 'Reliable, fair price and turned up on time.', fr: 'Fiable, prix juste et tourné sur le temps.'}) %></p>
                <footer><cite><strong><%= edit_text('testimonial_1_author', 'Elaine', p_tags: false) %></strong></cite></footer>
              </blockquote>
            </div>
            <!-- TESTIMONIAL : end -->

            <hr class="c-divider hidden-lg hidden-md">

          </div>
          <div class="col-md-4">

            <!-- TESTIMONIAL : begin -->
            <div class="c-testimonial">
              <blockquote>
                <p><%= edit_text('testimonial_2', { en: 'Reliable, fair price and turned up on time.', fr: 'Fiable, prix juste et tourné sur le temps.'}) %></p>
                <footer><cite><strong><%= edit_text('testimonial_2_author', 'Elaine', p_tags: false) %></strong></cite></footer>
              </blockquote>
            </div>
            <!-- TESTIMONIAL : end -->

            <hr class="c-divider hidden-lg hidden-md">

          </div>
          <div class="col-md-4">

            <!-- TESTIMONIAL : begin -->
            <div class="c-testimonial">
              <blockquote>
                <p><%= edit_text('testimonial_3', { en: 'Reliable, fair price and turned up on time.', fr: 'Fiable, prix juste et tourné sur le temps.'}) %></p>
                <footer><cite><strong><%= edit_text('testimonial_3_author', 'Elaine', p_tags: false) %></strong></cite></footer>
              </blockquote>
            </div>
            <!-- TESTIMONIAL : end -->

          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- TESTIMONIALS SECTION : end -->

</div>
<!-- PAGE CONTENT : end -->
