<!-- PAGE TITLE : begin -->
<div id="page-title" class="m-parallax">

  <!-- PAGE TITLE TOP : begin -->
  <div class="page-title-top">
    <div class="page-title-top-inner">

      <!-- PAGE TITLE TEXT : begin -->
      <div class="page-title-text">
        <div class="container">
          <h1><%= edit_text('page_title', { en: 'Contact', fr: 'Contactez' }, p_tags: false) %></h1>
        </div>
      </div>
      <!-- PAGE TITLE TEXT : end -->

    </div>
  </div>
  <!-- PAGE TITLE TOP : end -->

  <!-- PAGE TITLE BOTTOM : begin -->
  <div class="page-title-bottom">
    <div class="container">
      <div class="page-title-bottom-inner">
        <div class="page-title-bottom-inner2">

          <!-- PAGE TITLE BREADCRUMBS : begin -->
          <div class="page-title-breadcrumbs">
            <ul>
              <li><%= link_to t('general.home'), root_path %></li>
              <li><%= read_text('page_title', { en: 'Contact', fr: 'Contactez' }) %></li>
            </ul>
          </div>
          <!-- PAGE TITLE BREADCRUMBS : end -->

        </div>
      </div>
    </div>
  </div>
  <!-- PAGE TITLE BOTTOM : end -->

</div>
<!-- PAGE TITLE : end -->

<div class="container">

  <!-- PAGE CONTENT : begin -->
  <div id="page-content">

    <div class="row">
      <div class="col-md-4">

        <!-- ICON BLOCK : begin -->
        <div class="c-icon-block">
          <i class="im im-compass"></i>
          <h3><%= edit_text('location_title', { en: 'Location', fr: 'Emplacement' }, render_markdown: false) %></h3>
          <%= edit_text('location_body', 'Le Périer<br>Échourgnac') %>
        </div>
        <!-- ICON BLOCK : end -->

        <hr class="c-divider">

        <!-- ICON BLOCK : begin -->
        <div class="c-icon-block">
          <i class="im im-compass"></i>
          <h3><%= edit_text('operating_area_title', { en: 'Operating Area', fr: "Zone d'exploitation" }, render_markdown: false) %></h3>
          <%=
            edit_text(
              'operating_area_body',
              { en: 'I operate in __and around__ the areas of:

__Chalias/Brossac__, __Riberac__, and __Montpon__.',
                fr: "Je exploiter __dans et autour__ des zones de:

__Chalias/Brossac,__ __Montpon__ et __Riberac__."
              }
            )
          %>
          </p>
        </div>
        <!-- ICON BLOCK : end -->

        <hr class="c-divider">

        <!-- ICON BLOCK : begin -->
        <div class="c-icon-block">
          <i class="im im-phone"></i>
          <h3><%= edit_text('free_quote_title', { en: 'Free Quote', fr: 'Devis Gratuit' }, render_markdown: false) %></h3>
          <%= edit_text('free_quote_body', '0675 889731

[d.suddick@sky.com](mailto:d.suddick@sky.com)') %>
          <p></p>
        </div>
        <!-- ICON BLOCK : end -->

        <hr class="c-divider m-transparent hidden-lg hidden-md">

      </div>
      <div class="col-md-8">
        <div id="map-canvas"></div>
      </div>
    </div>
    <!-- CONTACT FORM : end -->

  </div>
  <!-- PAGE CONTENT : end -->

</div>
