<!-- PAGE TITLE : begin -->
<div id="page-title" class="m-parallax">

  <!-- PAGE TITLE TOP : begin -->
  <div class="page-title-top">
    <div class="page-title-top-inner">

      <!-- PAGE TITLE TEXT : begin -->
      <div class="page-title-text">
        <div class="container">
          <h1><%= edit_text('page_title', 'Contact', p_tags: false) %></h1>
        </div>
      </div>
      <!-- PAGE TITLE TEXT : end -->

    </div>
  </div>
  <!-- PAGE TITLE TOP : end -->

  <!-- PAGE TITLE BOTTOM : begin -->
  <div class="page-title-bottom">
    <div class="container">
      <div class="page-title-bottom-inner">
        <div class="page-title-bottom-inner2">

          <!-- PAGE TITLE BREADCRUMBS : begin -->
          <div class="page-title-breadcrumbs">
            <ul>
              <li><%= link_to t('general.home'), root_path %></li>
              <li><%= edit_text('page_title', { en: 'Contact', fr: 'Contactez' }, p_tags: false) %></li>
            </ul>
          </div>
          <!-- PAGE TITLE BREADCRUMBS : end -->

        </div>
      </div>
    </div>
  </div>
  <!-- PAGE TITLE BOTTOM : end -->

</div>
<!-- PAGE TITLE : end -->

<div class="container">

  <!-- PAGE CONTENT : begin -->
  <div id="page-content">

    <div class="row">
      <div class="col-md-4">

        <!-- ICON BLOCK : begin -->
        <div class="c-icon-block">
          <i class="im im-compass"></i>
          <h3><%= edit_text('location_title', 'Location', render_markdown: false) %></h3>
          <%= edit_text('location_body', 'Le Perier<br>Echourgnac') %>
        </div>
        <!-- ICON BLOCK : end -->

        <hr class="c-divider">

        <!-- ICON BLOCK : begin -->
        <div class="c-icon-block">
          <i class="im im-compass"></i>
          <h3><%= edit_text('operating_area_title', 'Operating Area', render_markdown: false) %></h3>
          <%= edit_text('operating_area_body', 'I operate in __and around__ the areas of:

__Chalias/Brossac__, __Riberac__, and __Montpon__.') %>
          </p>
        </div>
        <!-- ICON BLOCK : end -->

        <hr class="c-divider">

        <!-- ICON BLOCK : begin -->
        <div class="c-icon-block">
          <i class="im im-phone"></i>
          <h3><%= edit_text('free_quote_title', 'Free Quote', render_markdown: false) %></h3>
          <%= edit_text('free_quote_body', '0675 889731

[d.suddick@sky.com](mailto:d.suddick@sky.com)') %>
          <p></p>
        </div>
        <!-- ICON BLOCK : end -->

        <hr class="c-divider m-transparent hidden-lg hidden-md">

      </div>
      <div class="col-md-8">
        <div id="map-canvas"></div>
      </div>
    </div>

    <hr class="c-divider m-size-medium">

    <h2><%= edit_text('contact_form_title', 'Get More Info or __Request a Quote__') %></h2>

    <!-- CONTACT FORM : begin -->
    <%= form_for submit_contact_form_path, html: { class: 'default-form m-ajax-form', id: 'contact-form' } do %>
      <input type="hidden" name="contact-form">

      <!-- FORM VALIDATION ERROR MESSAGE : begin -->
      <p class="c-alert-message m-warning m-validation-error" style="display: none;"><i class="ico fa fa-exclamation-circle"></i><%= t('contact.errors.required') %></p>
      <!-- FORM VALIDATION ERROR MESSAGE : end -->

      <!-- SENDING REQUEST ERROR MESSAGE : begin -->
      <p class="c-alert-message m-warning m-request-error" style="display: none;"><i class="ico fa fa-exclamation-circle"></i><%= t('contact.errors.connection') %></p>
      <!-- SENDING REQUEST ERROR MESSAGE : end -->

      <div class="row">
        <div class="col-sm-4">

          <!-- NAME FIELD : begin -->
          <div class="form-field">
            <label for="contact-name"><%= t('contact.name') %> <span>*</span></label>
            <input id="contact-name" name="contact[name]" class="m-required">
          </div>
          <!-- NAME FIELD : end -->

          <!-- EMAIL FIELD : begin -->
          <div class="form-field">
            <label for="contact-email"><%= t('contact.email') %> <span>*</span></label>
            <input id="contact-email" name="contact[email]" class="m-required m-email">
          </div>
          <p style="display: none;">
            <label for="contact-email-hp">Re <%= t('contact.email') %></label>
            <input id="contact-email-hp" name="contact-email-hp">
          </p>
          <!-- EMAIL FIELD : end -->

          <!-- PHONE FIELD : begin -->
          <div class="form-field">
            <label for="contact-phone"><%= t('contact.phone') %> <span>*</span></label>
            <input id="contact-phone" name="contact[phone]"class="m-required">
          </div>
          <!-- PHONE FIELD : end -->

        </div>
        <div class="col-sm-8">

          <!-- SUBJECT FIELD : begin -->
          <div class="form-field">
            <label for="contact-subject"><%= t('contact.subject') %></label>
            <input id="contact-subject" name="contact[subject]">
          </div>
          <!-- SUBJECT FIELD : end -->

          <!-- MESSAGE FIELD : begin -->
          <div class="form-field">
            <label for="contact-message"><%= t('contact.message') %> <span>*</span></label>
            <textarea id="contact-message" name="contact[message]" class="m-required"></textarea>
          </div>
          <!-- MESSAGE FIELD : end -->

          <!-- SUBMIT BUTTON : begin -->
          <div class="form-field">
            <%= submit_tag t('contact.send_message'), class: 'submit-btn c-button' %>
          </div>
          <!-- SUBMIT BUTTON : end -->

        </div>
      </div>

    <% end %>
    <!-- CONTACT FORM : end -->

  </div>
  <!-- PAGE CONTENT : end -->

</div>
