<% unless on_page('contact') || on_page('home') %>
<!-- FOOTER TOP : begin -->
<div class="footer-top">
  <div class="footer-top-inner">
    <div class="container">

      <!-- CTA MESSAGE : begin -->
      <div class="c-cta-message m-has-button">
        <div class="cta-inner">
          <h2><strong><%= edit_text(@page, 'global_footer_top_title', 'Interested?') %></strong></h2>
          <p><%= edit_text(@page, 'global_footer_top_body', 'Get in touch and I\'ll get back to you with a quote.') %></p>
          <p class="cta-button">
            <%= edit_link(@page, 'global_footer_get_in_touch', 'Get in Touch', '/contact', class: 'c-button m-size-medium') %>
          </p>
        </div>
      </div>
      <!-- CTA MESSAGE : end -->

    </div>
  </div>
</div>
<!-- FOOTER TOP : end -->
<% end %>

<!-- FOOTER INNER : begin -->
<div class="footer-inner">
  <div class="container">

    <!-- BOTTOM PANEL : begin -->
    <div id="bottom-panel">
      <div class="row">
        <div class="col-md-6">

          <!-- TEXT WIDGET : begin -->
          <div class="widget text-widget">
            <div class="widget-inner">
              <h3 class="widget-title"><%= edit_text(@page, 'global_footer_about_title', 'About __Bricolsud__') %></h3>
              <div class="widget-content">

                <p>
                  <%= edit_text(@page, 'global_footer_about_body', 'I can provide a wide range of services including, but not limited to,
  __[Plumbing](/services/plumbing)__,
  __[Heating](/services/heating)__,
  __[Electrical Work](/services/electrics)__,
  __[Roofing](/services/roofing)__,
  __[Painting](/services/painting)__, and
  __[Renovation](/services/renovation)__.
</p>

<p>If there are any other handy-man jobs you need doing around the house,
[get in touch](/contact) and I\'ll let you know ASAP if I am available.</p>
') %>

              </div>
            </div>
          </div>
          <!-- TEXT WIDGET : end -->

          <hr class="c-divider hidden-lg hidden-md">

        </div>
        <div class="col-md-6">

          <!-- TEXT WIDGET (CONTACT) : begin -->
          <div class="widget text-widget">
            <div class="widget-inner">
              <h3 class="widget-title"><%= edit_text(@page, 'global_footer_contact_title', 'Quick <strong>Contact</strong>') %></h3>
              <div class="widget-content">
                <p><%= edit_text(@page, 'global_footer_contact_body', 'Please call __0675 889731__ or write at __[d.suddick@sky.com](mailto:d.suddick@sky.com)__.

__Le Perier__
Echourgnac
France') %></p>
              </div>
            </div>
          </div>
          <!-- TEXT WIDGET (CONTACT) : end -->

          <hr class="c-divider hidden-lg hidden-md">

        </div>
      </div>
    </div>
    <!-- BOTTOM PANEL : end -->

    <div class="row">
      <div class="col-md-6 col-md-push-6">

        <!-- FOOTER MENU : begin -->
        <nav class="footer-menu">
          <ul>
            <li><%= link_to t('nav.home'), root_path %></li>
            <li><%= link_to t('nav.contact'), contact_path %></li>
          </ul>
        </nav>
        <!-- FOOTER MENU : end -->

      </div>
      <div class="col-md-6 col-md-pull-6">

        <!-- FOOTER TEXT : begin -->
        <div class="footer-text">
          <%= edit_text(@page, 'global_footer_copyright', 'Copyright 2015 &copy; Bricolsud') %>
        </div>
        <!-- FOOTER TEXT : end -->

      </div>
    </div>

  </div>
</div>
<!-- FOOTER INNER : end -->
