<!-- HEADER : begin -->
<header id="header">
  <div class="header-inner">
    <div class="container">

      <!-- HEADER BRANDING : begin -->
      <div class="header-branding">
        <div class="branding-inner">

          <!-- BRANDING LOGO : begin -->
          <div class="brading-logo">
            <%= link_to root_path do %>
              <%= image_tag 'logo.png', alt: 'Bricolsud', data: { hires: image_path('logo.2x.png') } %>
            <% end %>
          </div>
          <!-- BRANDING LOGO : end -->

          <!-- BRANDING INFO : begin -->
          <div class="brading-info">
            <% if user_signed_in? %>
              <strong><%= edit_setting('company_name') %></strong><br>
              <em><%= edit_text('global_company_tag_line', { en: 'Anything for the House & Home', fr: "Tout pour la Chambre et d'accueil" }) %></em>
            <% else %>
              <%= link_to root_path, class: 'logo-link' do %>
                <strong><%= edit_setting('company_name') %></strong><br>
                <em><%= edit_text('global_company_tag_line', { en: 'Anything for the House & Home', fr: "Tout pour la Chambre et d'accueil" }) %></em>
              <% end %>
            <% end %>
          </div>
          <!-- BRANDING INFO : end -->

        </div>
      </div>
      <!-- HEADER BRANDING : end -->

      <!-- NAVIGATION TOGGLE : begin -->
      <button class="header-navigation-toggle" type="button"><i class="fa fa-bars"></i></button>
      <!-- NAVIGATION TOGGLE : end -->

      <!-- HEADER NAVIGATION : begin -->
      <div class="header-navigation">
        <div class="navigation-inner">

          <!-- HEADER MENU : begin -->
          <nav class="header-menu">
            <ul>
              <li>
                <%
                  fr_class = 'nav-flag-link'
                  fr_class += ' active' if I18n.locale == :fr
                %>
                <%= link_to fr_locale_redirect_path, class: fr_class do %>
                  <%= image_tag 'france.png', alt: 'France', class: 'nav-flag' %>
                <% end %>
              </li>
              <li>
                <%
                  en_class = 'nav-flag-link'
                  en_class += ' active' if I18n.locale == :en
                %>
                <%= link_to en_locale_redirect_path, class: en_class do %>
                  <%= image_tag 'uk.png', alt: 'UK', class: 'nav-flag' %>
                <% end %>
              </li>
              <li><%= link_to t('nav.home'), root_path %></li>
              <li><%= link_to t('nav.services'), services_path %></li>
              <li><%= link_to t('nav.about'), about_path %></li>
              <li><%= link_to t('nav.contact'), contact_path %></li>
            </ul>
          </nav>
          <!-- HEADER MENU : end -->

          <!-- HEADER SEARCH : begin -->
          <div class="header-search">
            <form method="get" onsubmit="return <%= I18n.locale %>_form_submit(this)">
              <input class="search-input" type="text" placeholder="Search website..." name="q">
              <button class="search-submit" type="submit"><i class="fa fa-chevron-right"></i></button>
            </form>
            <button class="search-toggle" type="button"><i class="fa fa-search"></i></button>
          </div>
          <!-- HEADER SEARCH : end -->

        </div>
      </div>
      <!-- HEADER NAVIGATION : end -->

    </div>
  </div>
</header>
<!-- HEADER : end -->
