<!DOCTYPE html>
<html>
<head>
  <title><%= page_title @page_title %></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">

  <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="library/css/oldie.css">
    <script src="library/js/respond.min.js" type="text/javascript"></script>
  <![endif]-->
  <%= javascript_include_tag 'modernizr.custom.min' %>

  <link href='http://fonts.googleapis.com/css?family=Exo+2:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %> <%= 'admin-signed-in' if user_signed_in? %> <%= 'admin-page' if on_admin_page? %> m-fixed-header">

<%= render 'layouts/sidebar' if user_signed_in? %>

<div id="body">

  <div id="wrapper">
    <%= render 'shared/flash_messages' %>
    <%= render 'layouts/header' %>

    <div id="core">
      <%= yield %>
    </div>

    <%= render 'layouts/markdown_modal' %>
    <%= render 'layouts/locale_modal' if @choose_lang %>
    <%= render 'layouts/footer' %>
  </div>
</div>

<% if on_page('contact') %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK85W_rw-VfcZpNMnFWGzPnOZE5P0zgts"></script>
<% end %>
<script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
<script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>
<%= javascript_include_tag 'application' %>
</body>
</html>
